{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "plugins": ["react"],
  "rules": {
    "linebreak-style": [1, "unix"],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/prop-types": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/button-has-type": 0,
    "react/no-unused-state": 2,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-filename-extension": 0,
    "camelcase": [1, 
      {
        "allow": [
          "UNSAFE_componentWillMount", 
          "UNSAFE_componentWillReceiveProps",
          "unstable_batchedUpdates"
        ]
      }
    ],
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "import/order": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "./src"]
      }
    }
  }
}
